# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html
<miyagawa@bulknews.net> <miyagawa@gmail.com>
Tokuhiro Matsuno <tokuhirom@gmail.com>
<kazuhooku@gmail.com> <kazuho@kazdev.in.labs.cybozu.co.jp>
<kazuhooku@gmail.com> <kazuho@kazpro.in.labs.cybozu.co.jp>
Kazuho Oku <kazuhooku@gmail.com> <kazuho@EM114-48-38-187.pool.e-mobile.ne.jp>
Kazuho Oku <kazuhooku@gmail.com> <kazuho@EM114-48-74-140.pool.e-mobile.ne.jp>
<mark@stosberg.com> <mark@summersault.com>
<jjnapiork@cpan.org> <johnn@John-Napiorkowski-MacBook-Pro.local>
<jjnapiork@cpan.org> <johnn@ool-18e46616.dyn.optonline.net>
<avarab@gmail.com> <avar@booking.com>
<rob@hoelz.ro> <rhoelz@inoc.com>
Randy Stauner <rwstauner@cpan.org> <randy@magnificent-tears.com>
